@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap");

:root {
  --base-color-1: #1791d3;
  --base-color-2: #facb14;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 1.5rem;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr 0.3fr;
  grid-template-areas:
    "sidebar header"
    "sidebar content"
    "footer footer";
}

i {
  font-size: 25px;
  margin: 10px;
}

/* Header Styles */
.header {
  grid-area: header;
  background-color: #ffffff;
  padding: 20px 50px;
}

.header-top {
  display: flex;
  align-items: center;
}

.search-bar {
  background-color: #e2e8ef;
  outline: none;
  border: none;
  border-radius: 20px;
  flex: 1;
  padding: 5px;
  max-width: 75%;
}

.profile-section {
  margin-left: 50px;
  display: flex;
  align-items: center;
}

.profile-one {
  width: 50px;
  height: 50px;
  background-color: var(--base-color-2);
  border-radius: 50%;
  margin: 0px 20px;
}

.header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.greeting-section {
  display: flex;
  align-items: center;
  gap: 25px;
}

.profile-two {
  width: 85px;
  height: 85px;
  background-color: var(--base-color-2);
  border-radius: 50%;
}

.btn-section {
  margin-top: 18px;
  display: flex;
  gap: 20px;
}

.btn-section button {
  width: 95px;
  font-size: 1rem;
  padding: 10px 20px;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 20px;
  color: #ffffff;
  background-color: var(--base-color-1);
  transition: transform 0.1s ease-in;
}

.btn-section button:hover {
  cursor: pointer;
  transform: scale(0.98);
  background-color: #16a6f4;
}

/* Sidebar Styles */
.sidebar {
  grid-area: sidebar;
  background-color: var(--base-color-1);
  color: #ffffff;
}

.dashboard {
  padding: 5px;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.fa-tachometer-alt {
  font-size: 2.3rem;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 20px 20px;
}

.nav li {
  list-style: none;
  margin-bottom: 10px;
}

.nav i {
  font-size: 1rem;
}

.nav a {
  font-size: 1rem;
  text-decoration: none;
  color: #ffffff;
}

.nav a:hover {
  border-bottom: 2px solid white;
}

/* Content Styles */
.content {
  grid-area: content;
  background-color: #717171;
}

/* Footer Styles */
.footer {
  grid-area: footer;
  background-color: #414141;
}
